
<section>
  <div class="dashboard">

    <!-- TOPBAR -->
    <header class="topbar">
<div class="homepage-card"> 
<img id="homepage-logo" src="./assets/logos/logo-dark.png" alt="AI Predict Logo" class="homepage-logo">
</div>

      <div class="market-info">
        <span class="asset-name">BIST100</span>
        <div class="price-row">
          <span class="price">10,542.35</span>
          <span class="currency">USD</span>
          <span class="change">+2.4% ▲</span>
        </div>
      </div>

      <div class="topbar-actions">

        <div class="language-switch">
    <button class="lang-btn active" id="trBtn">TR</button>
    <button class="lang-btn" id="enBtn">EN</button>
  </div>


        <button class="theme-btn" id="themeToggle" aria-label="Tema değiştir">
    🌙
  </button>

  <button type="button" class="profile-btn" id="openProfile" aria-label="Profil sayfası">
  👤
</button>

      <button class="menu-btn" id="openMenu" aria-label="Open Menu">
        ☰
      </button>
      </div>
    </header>

    <div class="content">

      <!-- TOP SECTION -->
      <section class="top-section">
        <!-- PRICE CHART -->
        <div class="chart-card big-chart">
          <div class="chart-title">Price Time Series</div>

          <div class="candlestick-chart" id="main-price-chart">
            <!-- <div class="candles">
              <div class="candle green" style="left:3%; height:85px; bottom:30px;"></div>
              <div class="candle green" style="left:7%; height:110px; bottom:35px;"></div>
              <div class="candle green" style="left:11%; height:135px; bottom:28px;"></div>
              <div class="candle red" style="left:15%; height:125px; bottom:55px;"></div>
              <div class="candle green" style="left:19%; height:145px; bottom:30px;"></div>
              <div class="candle green" style="left:23%; height:170px; bottom:30px;"></div>
              <div class="candle red" style="left:27%; height:160px; bottom:60px;"></div>
              <div class="candle green" style="left:31%; height:120px; bottom:38px;"></div>
              <div class="candle red" style="left:35%; height:155px; bottom:48px;"></div>
              <div class="candle green" style="left:39%; height:130px; bottom:40px;"></div>
              <div class="candle green" style="left:43%; height:140px; bottom:30px;"></div>
              <div class="candle red" style="left:47%; height:135px; bottom:42px;"></div>
              <div class="candle green" style="left:51%; height:160px; bottom:28px;"></div>
              <div class="candle green" style="left:55%; height:170px; bottom:30px;"></div>
              <div class="candle red" style="left:59%; height:160px; bottom:75px;"></div>
              <div class="candle green" style="left:63%; height:165px; bottom:32px;"></div>
              <div class="candle red" style="left:67%; height:185px; bottom:55px;"></div>
              <div class="candle green" style="left:71%; height:178px; bottom:30px;"></div>
              <div class="candle red" style="left:75%; height:182px; bottom:78px;"></div>
              <div class="candle green" style="left:79%; height:125px; bottom:40px;"></div>
              <div class="candle red" style="left:83%; height:155px; bottom:50px;"></div>
              <div class="candle green" style="left:87%; height:130px; bottom:35px;"></div>
              <div class="candle red" style="left:91%; height:140px; bottom:60px;"></div>
            </div>

            <svg class="line-overlay" viewBox="0 0 1000 300" preserveAspectRatio="none">
              <path d="M30,240 
                       C120,210 180,160 250,155
                       S380,205 470,185
                       S590,215 680,150
                       S790,190 860,135
                       S920,110 970,95"
                    fill="none"
                    stroke="#53b8ff"
                    stroke-width="3"/>
            </svg>

            <div class="time-labels bottom-labels">
              <span>Apr 23</span>
              <span>May 23</span>
              <span>Jun 23</span>
              <span>Jul 23</span>
              <span>Aug 23</span>
              <span>Sep 23</span>
              <span>Oct 23</span>
            </div>

            <div class="side-labels">
              <span>18:00</span>
              <span>17:00</span>
              <span>16:00</span>
              <span>15:00</span>
              <span>14:00</span>
              <span>13:00</span>
              <span>12:00</span>
              <span>11:00</span>
              <span>10:00</span>
              <span>09:00</span>
            </div>-->
          </div> 
        </div>

        <!-- PREDICTION -->
      <div class="prediction-card">
  <h3><span>AI</span> PREDICTION</h3>
  <div class="prediction-price" id="pred-price">Tahmin Bekleniyor...</div>
  
  <div class="prediction-details" style="margin-top: 10px; font-size: 0.9em;">
    <div>Real Value: <strong id="real-price">-</strong></div>
    <div>Difference: <strong id="price-diff">-</strong></div>
    <div>Error Rate: <strong id="error-rate">-</strong></div>
  </div>
</div>
      </section>

      <div class="card-two">
        <div>
      <!-- RSI -->
      <section class="chart-card medium-chart">
        <div class="chart-title">RSI(14)</div>
        <div class="mini-chart" id="rsi-chart">
          <!-- <div class="rsi-band"></div> -->

          <!-- <svg class="line-overlay" viewBox="0 0 1000 180" preserveAspectRatio="none">
            <path d="M0,90
                     C90,88 110,45 180,40
                     S300,120 380,110
                     S470,40 560,45
                     S650,115 720,100
                     S820,80 890,115
                     S940,80 1000,85"
                  fill="none"
                  stroke="#4eb6f4"
                  stroke-width="3"/>
          </svg> -->

          <!-- <div class="time-labels">
            <span>10:00</span>
            <span>12:00</span>
            <span>14:00</span>
            <span>16:00</span>
            <span>18:00</span>
            <span>20:00</span>
            <span>22:00</span>
          </div> -->

          <!-- <div class="indicator-values">
            <span>80</span>
            <span>60</span>
            <span>40</span>
            <span>20</span>
          </div> -->
        </div>
      </section>

      <!-- MACD -->
      <section class="chart-card medium-chart">
        <div class="chart-title">MACD(12,26,9)</div>
        <div class="mini-chart macd-chart" id="macd-chart">
          <!-- <div class="bars">
            <span class="bar green" style="height:40px;"></span>
            <span class="bar green" style="height:58px;"></span>
            <span class="bar green" style="height:72px;"></span>
            <span class="bar red" style="height:52px;"></span>
            <span class="bar green" style="height:76px;"></span>
            <span class="bar green" style="height:82px;"></span>
            <span class="bar red" style="height:61px;"></span>
            <span class="bar green" style="height:70px;"></span>
            <span class="bar green" style="height:85px;"></span>
            <span class="bar red" style="height:75px;"></span>
            <span class="bar green" style="height:78px;"></span>
            <span class="bar green" style="height:56px;"></span>
            <span class="bar red" style="height:48px;"></span>
            <span class="bar green" style="height:64px;"></span>
            <span class="bar red" style="height:80px;"></span>
            <span class="bar green" style="height:88px;"></span>
            <span class="bar green" style="height:68px;"></span>
            <span class="bar red" style="height:54px;"></span>
            <span class="bar green" style="height:50px;"></span>
            <span class="bar green" style="height:62px;"></span>
            <span class="bar green" style="height:40px;"></span>
            <span class="bar green" style="height:58px;"></span>
            <span class="bar green" style="height:72px;"></span>
            <span class="bar red" style="height:52px;"></span>
            <span class="bar green" style="height:76px;"></span>
            <span class="bar green" style="height:82px;"></span>
            <span class="bar red" style="height:61px;"></span>
            <span class="bar green" style="height:70px;"></span>
            <span class="bar green" style="height:85px;"></span>
            <span class="bar red" style="height:75px;"></span>
            <span class="bar green" style="height:78px;"></span>
            <span class="bar green" style="height:56px;"></span>
            <span class="bar red" style="height:48px;"></span>
            <span class="bar green" style="height:64px;"></span>
            <span class="bar red" style="height:80px;"></span>
            <span class="bar green" style="height:88px;"></span>
            <span class="bar green" style="height:68px;"></span>
            <span class="bar red" style="height:54px;"></span>
            <span class="bar green" style="height:50px;"></span>
            <span class="bar green" style="height:62px;"></span>
            <span class="bar red" style="height:48px;"></span>
            <span class="bar red" style="height:80px;"></span>
            <span class="bar red" style="height:54px;"></span>
            <span class="bar red" style="height:48px;"></span>
            <span class="bar red" style="height:80px;"></span>
            <span class="bar red" style="height:54px;"></span>
          </div> -->

          <!-- <svg class="line-overlay" viewBox="0 0 1000 180" preserveAspectRatio="none">
            <path d="M0,92
                     C70,85 110,55 170,80
                     S280,70 350,82
                     S470,58 540,90
                     S670,62 740,86
                     S860,68 1000,88"
                  fill="none"
                  stroke="#8e49d7"
                  stroke-width="3"/>

            <path d="M0,100
                     C100,96 180,102 260,98
                     S420,105 520,101
                     S680,96 780,100
                     S900,97 1000,101"
                  fill="none"
                  stroke="#36d6d0"
                  stroke-width="3"/>
          </svg> -->

          <!-- <div class="time-labels">
            <span>10:00</span>
            <span>12:00</span>
            <span>14:00</span>
            <span>16:00</span>
            <span>18:00</span>
            <span>20:00</span>
            <span>22:00</span>
          </div> -->

          <!-- <div class="indicator-values">
            <span>1.5</span>
            <span>0.5</span>
            <span>0</span>
            <span>-0.5</span>
          </div> -->
        </div>
      </section>
      </div>

      <div class="prediction-card-two">
  <p id="llmAnalysis">
    AI analysis is loading...
  </p>
</div>
</div>
      <!-- INFO BOXES -->
      <section class="info-boxes">
        <div class="info-box" data-tooltip-title="Volume" data-tooltip="Shows the total trading volume for the selected asset and chart range.">
          <span id="volumeBox">Volume N/A</span>
        </div>
        <div class="info-box"   data-tooltip-title=" High / Low " data-tooltip="Shows the highest and lowest price within the selected chart range.">
          <span id="highLowBox">High / Low </span>
        </div>

        <div class="info-box"  data-tooltip-title="Price Range" data-tooltip="Displays the current price range between the highest and lowest values.">
          <span id="priceRangeBox">Price Range</span>
        </div>

        <div class="info-box" data-tooltip-title="Volatility" data-tooltip="Shows how much the selected asset price fluctuates. Higher volatility means higher risk.">
          <span id="volatilityBox">Volatility</span>
        </div>
      </section>

      <footer class="footer-note">
        This application provides AI-based predictions for informational purposes only. It is not investment advice.
      </footer>
    </div>

    <!-- OVERLAY -->
    <div class="overlay" id="overlay"></div>

    <!-- SIDEBAR -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-header">
    <h2>MENU</h2>
    <button class="close-btn" id="closeMenu">✕</button>
  </div>

  <!-- PORTFOLIO CURRENCY -->
  <!-- <div class="sidebar-section">
    <h3> Portfolio Currency</h3>

    <div class="currency-tabs">
      <label class="currency-option">
        <input type="radio" name="portfolioCurrency" value="TRY" />
        <span>TRY ₺</span>
      </label>

      <label class="currency-option">
        <input type="radio" name="portfolioCurrency" value="USD" checked />
        <span>USD $</span>
      </label>

      <label class="currency-option">
        <input type="radio" name="portfolioCurrency" value="EUR" />
        <span>EUR €</span>
      </label>
    </div>
  </div> -->

  <!-- MODEL INPUT WINDOW -->
<div class="sidebar-section">
  <h3> Model Input Window</h3>

  <div class="prediction-window-grid model-window-grid">
    <button class="active model-window-btn">
      5-Day Window
      <small>(Optimized)</small>
    </button>
  </div>

  <p class="sidebar-note">
    ⓘ Model uses the last 5 market days to predict the next movement.
  </p>
</div>

  <!-- MARKET CATEGORIES -->
  <div class="sidebar-section">
    <h3> Market Categories</h3>

    <details class="market-accordion">
      <summary>
        <span>  Stock Indexes (BIST & Global)</span>
        <span class="accordion-arrow">›</span>
      </summary>

      <div class="accordion-content">
        <label class="market-item">
          <input type="radio" name="selectedAsset" value="BIST100" />
          <span>BIST100</span>
        </label>

        <label class="market-item">
          <input type="radio" name="selectedAsset" value="BIST30" />
          <span>BIST30</span>
        </label>

        <label class="market-item">
          <input type="radio" name="selectedAsset" value="SP500" />
          <span>SP500</span>
        </label>

        <label class="market-item">
          <input type="radio" name="selectedAsset" value="NASDAQ100" />
          <span>NASDAQ100</span>
        </label>

        <label class="market-item">
          <input type="radio" name="selectedAsset" value="DJI" />
          <span>DJI</span>
        </label>

        <label class="market-item">
          <input type="radio" name="selectedAsset" value="DOW" />
          <span>DOW</span>
        </label>

        <label class="market-item">
          <input type="radio" name="selectedAsset" value="DAX" />
          <span>DAX</span>
        </label>

        <label class="market-item">
          <input type="radio" name="selectedAsset" value="CAC40" />
          <span>CAC40</span>
        </label>

        <label class="market-item">
          <input type="radio" name="selectedAsset" value="FTSE100" />
          <span>FTSE100</span>
        </label>

        <label class="market-item">
          <input type="radio" name="selectedAsset" value="NIKKEI225" />
          <span>NIKKEI225</span>
        </label>

        <label class="market-item">
          <input type="radio" name="selectedAsset" value="HSI" />
          <span>HSI</span>
        </label>
      </div>
    </details>

    <details class="market-accordion" open>
      <summary>
        <span> Precious Metals & Commodities</span>
        <span class="accordion-arrow">›</span>
      </summary>

      <div class="accordion-content">
        <label class="market-item">
          <input type="radio" name="selectedAsset" value="Gold" checked />
          <span>🟡 Gold (Ounce)</span>
          <!-- <strong>Selected</strong> -->
        </label>

        <label class="market-item">
          <input type="radio" name="selectedAsset" value="Silver" />
          <span>⚪ Silver </span>
        </label>

        <label class="market-item">
          <input type="radio" name="selectedAsset" value="Brent" />
          <span>🛢️ Brent Oil</span>
        </label>

        <label class="market-item">
          <input type="radio" name="selectedAsset" value="NaturalGas" />
          <span>🔋 Natural Gas</span>
        </label>

        <label class="market-item">
          <input type="radio" name="selectedAsset" value="Copper" />
          <span>🪵 Copper</span>
        </label>
      </div>
    </details>

    <details class="market-accordion">
      <summary>
        <span> Currency Pairs</span>
        <span class="accordion-arrow">›</span>
      </summary>

      <div class="accordion-content">
        <label class="market-item">
          <input type="radio" name="selectedAsset" value="USD_TRY" />
          <span>USD / TRY</span>
        </label>

        <label class="market-item">
          <input type="radio" name="selectedAsset" value="EUR_TRY" />
          <span>EUR / TRY</span>
        </label>

        <label class="market-item">
          <input type="radio" name="selectedAsset" value="GBP_TRY" />
          <span>GBP / TRY</span>
        </label>

        <label class="market-item">
          <input type="radio" name="selectedAsset" value="JPY_TRY" />
          <span>JPY / TRY</span>
        </label>

        <label class="market-item">
          <input type="radio" name="selectedAsset" value="HKD_TRY" />
          <span>HKD / TRY</span>
        </label>

        <label class="market-item">
          <input type="radio" name="selectedAsset" value="EUR_USD" />
          <span>EUR / USD</span>
        </label>
      </div>
    </details>

    <details class="market-accordion">
      <summary>
        <span> Government Bonds / Interest Rates</span>
        <span class="accordion-arrow">›</span>
      </summary>

      <div class="accordion-content">
        <label class="market-item">
          <input type="radio" name="selectedAsset" value="TR10YT" />
          <span>TR10YT</span>
        </label>

        <label class="market-item">
          <input type="radio" name="selectedAsset" value="US10YT" />
          <span>US10YT</span>
        </label>
      </div>
    </details>
  </div>

  <!-- GRAPH SETTINGS -->
  <div class="sidebar-section">
    <h3> Graph Settings</h3>
    <p class="setting-label">Display Mode:</p>

    <label class="view-mode active">
      <input type="radio" name="currencyView" value="original" checked />
      <span>Original Market Currency</span>
    </label>

    <label class="view-mode">
      <input type="radio" name="currencyView" value="local" />
      <span>Portfolio Currency View</span>
    </label>
  </div>

  <!-- CHART RANGE -->
  <div class="sidebar-section">
    <h3>Chart Range</h3>

    <div class="chart-range-grid">
      <button data-range="1D">1D</button>
  <button data-range="1W">1W</button>
  <button data-range="1M" class="active">1M</button>
  <button data-range="3M">3M</button>
  <button data-range="6M">6M</button>
  <button data-range="1Y">1Y</button>
    </div>
    <p class="sidebar-note">
  ⓘ Select how much historical price data is displayed on the chart.
</p>
  </div>

  <!-- INDICATORS -->
  <div class="sidebar-section">
    <h3>Indicators</h3>

    <div class="indicator-item">
      <div class="left">
        <input type="checkbox" checked />
        <span>RSI (14)</span>
      </div>
      <label class="switch">
        <input type="checkbox" checked />
        <span class="slider"></span>
      </label>
    </div>

    <div class="indicator-item">
      <div class="left">
        <input type="checkbox" checked />
        <span>MACD (12,26,9)</span>
      </div>
      <label class="switch">
        <input type="checkbox" checked />
        <span class="slider"></span>
      </label>
    </div>

    <div class="indicator-item">
      <div class="left">
        <input type="checkbox" />
        <span>Moving Average</span>
      </div>
      <label class="switch">
        <input type="checkbox" />
        <span class="slider"></span>
      </label>
    </div>
  </div>

  <!-- MODEL -->
  <div class="sidebar-section">
    <h3> Prediction Model</h3>

    <div class="model-select">
      <span>LSTM + XGBoost Hybrid</span>
      <span>⌄</span>
    </div>

    <div class="model-info-grid">
      <div class="model-info-box">
        <span>Prediction Target:</span>
<strong>Next Day</strong>
      </div>

      <div class="model-info-box">
        <span>Indicators:</span>
        <strong>RSI(14), MACD</strong>
      </div>

      <div class="model-info-box">
        <span>Accuracy:</span>
        <strong>58.1%</strong>
      </div>

      <div class="model-info-box">
        <span>Input Window:</span>
<strong>5-Day Sliding</strong>
      </div>
    </div>
  </div>

  <div class="sidebar-links">
    <a href="#">Predictions Details <span>›</span></a>
    <a href="#">About Model <span>›</span></a>
    <a href="#">Disclaimer <span>›</span></a>
  </div>

  <button class="predict-action-btn"> PREDICT AND SHOW CHART</button>
  <div class="sidebar-info-box" id="sidebarInfoBox">
  <button class="info-close-btn" id="closeInfoBox">✕</button>
  <h4 id="infoTitle">Information</h4>
  <p id="infoText">Select a section to view details.</p>
</div>

</div>
  </div>


</section>
