
<section>
    <div class="container" >
        <!-- arka plan gifi -->
        <video autoplay muted loop class="bg-video">
    <source src="./img/loginvideo.mp4" type="video/mp4">
  </video>
        
  <div class="  login-box">
    <div class="card">
        <img id="loginLogo" src="./assets/logos/logo-dark.png" alt="AI Predict Logo" class="login-logo">
    </div>

        <legend >
            <h1 class="login-title">
                <span class="logo-colour">AI</span>  
                PREDICT</h1>
            <p class="logo-p">SMARTER TRADES, BETTER FUTURE</p>
        <form class="loginform">
            <label class="login-label">
                <svg class="icon icon-user">
    <use href="./assets/icons/symbol-defs.svg#icon-user"></use>
  </svg>
                <input type="text"
                name="name"
                placeholder=" Username or Email"
                required
                class="input"> 
            </label>
            
              <label class="login-label">
                <svg class="icon icon-key">
                    <use href="./assets/icons/symbol-defs1.svg#icon-key"></use></svg>
                <input type="password"
                  id="loginPassword"
                name="password"
                placeholder="Password"
                required
                class="input"> 
                  <span id="togglePassword">
                    
                    <svg class="icon icon-eye-slash"><use href="./assets/icons/symbol-defs2.svg#icon-eye-slash"></use></svg>
                
                
                </span>
            </label>

            <div class="login-a">
             <a href="#" id="forgotPasswordBtn" class="login-a-first">Forgot Password?</a>
            <a href="#" id="createAccountBtn" class="login-a-first">
  Create Account
</a>
             </div>
             <button type="submit" class="loginbutton">LOGIN</button>
        </form>
        </legend>
        </div>
        <p class="login-p">You Data is Encrypted & Secure</p>
        
    </div>
    
</section>
